.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start; /* Zapobiega rozciąganiu się elementów */
  }
  
  .game-board {
    margin: auto; /* Centrowanie */
    max-width: 600px; /* Stała szerokość */
    max-height: 600px; /* Stała wysokość */
    display: flex; /* Umożliwia elastyczne rozmieszczanie komponentów wewnątrz */
    justify-content: center; /* Centrowanie w poziomie */
    align-items: center; /* Centrowanie w pionie */
  }
  
  
  .game-info {
    max-height: 30vh; /* Zmniejsz maksymalną wysokość */
    overflow-y: auto; /* Pozwól na przewijanie */
    font-size: 12px; /* Zmniejsz rozmiar fontu */
    opacity: 0.5; /* Zmniejsz widoczność */
  }
  
  
  .square {
    width: 100px; /* lub inna wartość, która pasuje do twojego layoutu */
    height: 100px;
    margin: 0;
    padding: 0;
    font-size: 24px; /* dostosuj do potrzeb */
    line-height: 60px; /* powinno odpowiadać wysokości, aby tekst był na środku */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e2e2e2; /* lub inny styl ramki */
    background: #3d3d3d;
    cursor: pointer;
  }
  
  